nav {
  background-color: #6047dc;
  color: #fff;
  padding: 10px;
}

/* ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
} */

a {
  text-decoration: none;
  color: #fff;
}
