.home {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    padding: 20px;
}
.navbar {
    background-color: blueviolet;
    color: white;
    padding: 10px 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}
.navbar a {
    text-decoration: none;
    color: whitesmoke;
}


.home-background{
    background-color: chartreuse;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.art-images {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.art-images img {
    width: 30%;
    height: auto;
    border: 1px solid #ddd;
    margin-right: 10px;
}
